EmlakProje/Emlak.UI/Connected Services/EmlakServiceReference/EmlakService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60981/EmlakService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Emlak.Entities" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMüsteris">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMüsterisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetMüsterisResult" nillable="true" type="q2:ArrayOfMüsteri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetDairesResult" nillable="true" type="q3:ArrayOfDaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdalars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdalarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetOdalarsResult" nillable="true" type="q4:ArrayOfOdalar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMüsteri">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="müsteri" nillable="true" type="q5:Müsteri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMüsteriResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMüsteri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMüsteriResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMüsteri">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="müsteri" nillable="true" type="q6:Müsteri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMüsteriResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="odalar" nillable="true" type="q7:Odalar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOdaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="odalar" nillable="true" type="q8:Odalar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOdaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="odalar" nillable="true" type="q9:Odalar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOdaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="daire" nillable="true" type="q10:Daire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="daire" nillable="true" type="q11:Daire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMalSahibis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMalSahibisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetMalSahibisResult" nillable="true" type="q12:ArrayOfMalSahibi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMalSahibi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="malSahibi" nillable="true" type="q13:MalSahibi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMalSahibiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMalSahibi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMalSahibiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMalSahibi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="malSahibi" nillable="true" type="q14:MalSahibi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMalSahibiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKiralıks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKiralıksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetKiralıksResult" nillable="true" type="q15:ArrayOfKiralık" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKiralık">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="kiralık" nillable="true" type="q16:Kiralık" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKiralıkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveKiralık">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveKiralıkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKiralık">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="kiralık" nillable="true" type="q17:Kiralık" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKiralıkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatılıks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatılıksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="GetSatılıksResult" nillable="true" type="q18:ArrayOfSatılık" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSatılık">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="satılık" nillable="true" type="q19:Satılık" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSatılıkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSatılık">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSatılıkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSatılık">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Emlak.Entities" minOccurs="0" name="satılık" nillable="true" type="q20:Satılık" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSatılıkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>